@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$highlight-color: #f27055;

.todaysbirthdays {
  max-width: 290px;
  min-width: 270px;
  border-bottom: 1px solid #EDF3F3;
  padding-top: 5px;
  padding-bottom: 2px;
  h3 {
    color: #532320;
    margin-bottom: 10px;
  }
  .detail {
    float: right;
    font-size: 13px;
    span {
      color: $highlight-color;
      font-weight: bold;
    }
    .highlight {
      color: $highlight-color;      
    }
  }
}