@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.events {
  h3 {
    color: #c9b590;
    margin: 2px;
  }
  .event {
    border-bottom: 1px solid #EDF3F3;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    .image {
      background-image: url(../images/calendar.png);
      background-size: contain; 
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }
    .detail {
      float: right;
      font-size: 10px; 
      padding-left: 5px;         
    }
    .title {
      color: #f27055;
      font-size: 11px;          
    }
  }
}