@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.tabsnews {
  ul {
    background-color: #E8EDED;
      a {
        text-decoration: none !important;
        padding: 0px 10px 2px 0.5em;
        background-color: #E8EDED;
        color : #37363B;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0px 15px 2px;
        font-weight: bold; 
      }
  }
  img {
    max-width: 58%;
    align-items: center;
  }
  .newstext { 
    a {
      color: #f27055;
      background-color: white;
      padding: 0;
    }
    float : right;
    max-width: 40%;
    padding-left: 2px;
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

}